.watch {
  height: 100vh;
  width: 100vw;
}
.back {
  position: absolute;
  color: rgb(34, 4, 4);
  top: 10px;
  left: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 2;
}
.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
